body {
  background-color: #F2F2F2;
  color: #342F2F;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  overflow: auto;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  position: relative;
  font-family: "Karla";
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 30px;
  color: #342F2F;
  z-index: 100;
}
@media screen and (min-width: 786px) {
  .section__title {
    font-size: 40px;
    line-height: 47px;
  }
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 786px) {
  .container {
    width: 786px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.container--hero,
.container--info,
.container--benefits,
.container--after-webinar,
.container--reviews,
.container--about,
.container--article,
.container--signing {
  position: relative;
}

.logo__icon {
  width: 79.08px;
  height: 56px;
}
@media screen and (min-width: 786px) {
  .logo__icon {
    width: 91.79px;
    height: 65px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 119px;
    height: 84.27px;
  }
}

.button__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 38px;
  height: 52px;
  color: #ffffff;
  background-color: #F56F70;
  border-radius: 20px;
  border: 3px solid #F56F70;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__register:hover, .button__register:focus {
  outline: none;
  color: #F56F70;
  background-color: transparent;
}
@media screen and (max-width: 1439px) {
  .button__register--header {
    display: none;
  }
}

.menu-desktop__wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .menu-desktop__wrapper {
    display: block;
  }
}

.menu-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 90px;
}

.menu-desktop__item:not(:last-child) {
  margin-right: 30px;
}

.menu-desktop__link {
  padding: 20px 0;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-desktop__link:hover, .menu-desktop__link:focus {
  color: #F56F70;
}

@media screen and (min-width: 1440px) {
  .menu-mobile__wrapper {
    display: none;
  }
}

.menu-mobile__button--open,
.menu-mobile__button--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .menu-mobile__button--open {
    display: none;
  }
}

.menu-mobile__icon {
  width: 40px;
  height: 40px;
}

.menu-mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 220px;
  background-color: #ffffff;
  z-index: 200;
  padding-top: 26px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile__wrapper.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-height: 430px) {
  .menu-mobile__wrapper {
    overflow-y: scroll;
  }
}

.menu-mobile__container {
  width: 315px;
}
@media screen and (min-width: 786px) {
  .menu-mobile__container {
    width: 646px;
  }
}

.menu-mobile {
  margin-top: 26px;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 15px;
}

.menu-mobile__link {
  font-size: 20px;
  padding: 7px 0;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile__link:hover, .menu-mobile__link:focus {
  color: #F56F70;
}

.menu-mobile__icon {
  fill: #F56F70;
}

.header {
  background-color: #ffffff;
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1440px) {
  .container--header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3px;
  padding-top: 12px;
  width: 115.46px;
  height: 95.55px;
  background-color: #F56F70;
  border-radius: 0 0 50% 50%;
  z-index: 1000;
}
@media screen and (min-width: 786px) {
  .logo__container {
    margin-top: 0;
    padding-top: 13px;
    width: 124.46px;
    height: 103px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__container {
    padding-top: 15px;
    width: 145px;
    height: 120px;
  }
}

.logo__icon {
  fill: #ffffff;
  width: 85.3px;
  height: 56.14px;
}
@media screen and (min-width: 786px) {
  .logo__icon {
    width: 91.95px;
    height: 60.52px;
  }
}
@media screen and (min-width: 1440px) {
  .logo__icon {
    width: 107.12px;
    height: 70.51px;
  }
}

.hero {
  padding-top: 86px;
  padding-bottom: 320px;
  background-color: #ffffff;
}
@media screen and (min-width: 786px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 106px;
    padding-bottom: 152px;
  }
}

.container--hero {
  position: relative;
}

.hero__bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 10px;
}
@media screen and (min-width: 786px) {
  .hero__bold {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__bold {
    font-size: 40px;
    line-height: 47px;
  }
}

.hero__title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #F56F70;
  margin-bottom: 10px;
}
@media screen and (min-width: 786px) {
  .hero__title {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 90px;
    line-height: 110px;
    margin-bottom: 20px;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 786px) {
  .hero__text {
    font-size: 18px;
    line-height: 21px;
    width: 590px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 20px;
    line-height: 23px;
    width: 530px;
  }
}

.hero__subheading {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 20px 0;
}
@media screen and (min-width: 786px) {
  .hero__subheading {
    font-size: 23px;
    line-height: 27px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__subheading {
    font-size: 25px;
    line-height: 29px;
    margin: 35px 0;
  }
}

.hero__text--second {
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .hero__text--second {
    margin-bottom: 40px;
    width: 590px;
  }
}

.hero__image,
.hero__image--desktop {
  position: absolute;
}

.hero__image {
  width: 254.61px;
  height: 384.67px;
  right: 30px;
  bottom: -320px;
  z-index: 40;
}
@media screen and (min-width: 786px) {
  .hero__image {
    width: 349.98px;
    height: 528.76px;
    bottom: -330px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__image {
    display: none;
  }
}

.hero__image--desktop {
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero__image--desktop {
    width: 696px;
    height: 850px;
    bottom: -152px;
    right: 0;
    display: block;
  }
}

.hero-line--left,
.hero-line--right {
  position: absolute;
}
@media screen and (min-width: 1440px) {
  .hero-line--left,
  .hero-line--right {
    display: none;
  }
}

.hero-line--left {
  width: 258.02px;
  height: 181.84px;
  bottom: -320px;
  left: -120px;
}
@media screen and (min-width: 786px) {
  .hero-line--left {
    width: 354.67px;
    height: 249.96px;
    left: 80px;
  }
}

.hero-line--right {
  width: 231.6px;
  height: 231.6px;
  bottom: -200px;
  right: -60px;
}
@media screen and (min-width: 786px) {
  .hero-line--right {
    width: 318.36px;
    height: 318.36px;
    bottom: -190px;
    right: -120px;
  }
}

.hero-underline {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 181px;
  height: 19.8px;
}
@media screen and (min-width: 786px) {
  .hero-underline {
    top: 22px;
    right: 295px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-underline {
    width: 256px;
    height: 28px;
    top: 22px;
    right: 760px;
  }
}

.hero-title--symbol {
  position: absolute;
  top: 5px;
  left: 140px;
  width: 8.2px;
  height: 6.86px;
  fill: #F56F70;
}
@media screen and (min-width: 786px) {
  .hero-title--symbol {
    top: 5px;
    left: 217px;
    width: 14px;
    height: 13.36px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title--symbol {
    top: 1px;
    left: 387.8px;
    width: 32px;
    height: 33px;
  }
}/*# sourceMappingURL=main.css.map */