.section {
  padding-top: 60px;
  padding-bottom: 60px;

  overflow: hidden;

  @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
}

.section__title {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 30px;
  color: $accent-color;
  z-index: 100;
  
  @media screen and (min-width: $tablet) {
    font-size: 40px;
    line-height: 49px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 70px;
    line-height: 85px;
  }
}